{% block adv %}
    <div class="adv_block">
        Ads here
    </div>

    <style>
        .adv_block{
            position: fixed;
            left: 10px;
            top: 60px;
            display: block;
            background-color: #f7f7f7;
            border: 1px solid;
            border-color: #101010;
            width: 160px;
            height: 600px;
        }
    </style>
{% endblock %}