{% extends 'layout.twig' %}

{% block content %}

    <div class="col-md-7">
        <div id="searchForm" class="col-md-12">
            <input type="text" class="form-control col-md-12"  id="trackName" >
            <button type="button" id="searchTrack" class="btn btn-primary">Поиск</button>
        </div>
        <div id="result" class="col-md-12"></div>
    </div>

    <div class="col-md-5">
        <div class="audio-player col-md-12">
            <h1 id="song-name">Не выбрано</h1>
            {#<img class="cover" src="/web/images/cover.png" alt="">#}
            <audio id="audio-player" src="empty" type="audio/mp3" controls="controls"></audio>
            <input type='hidden' id='currentSongNumber' value='0'>
        </div><br>
        <div class="col-md-12" style="margin-top: 20px;">
            <button type="button" id="cleanPlayList" class="btn btn-danger">Очистить плей-лист</button><br><br>
            <ul id="playList" class="list-group" style="width: 100%;"></ul>
        </div>
    </div>


    <script src="/web/js/player.js"></script>
    <script>
        var  playerObj;

        function displaySongs(response) {
            var songs = [];
            for (var key in response) {
                var song = response[key];
                songs.push(song)
            }
            var data = {
                songs: songs
            };
            $('#result').html('')

            {% raw %}
            var template = "<table id='allSongs' class='table table-hover'>{{#songs}}" +
                    "<tr><td class='table_title'>{{artist}}</td>" +
                    "<td class='table_song'>{{title}}</td>" +
                    "<td class='table_play'>" +
                    "<span data-url = {{url}} class='glyphicon glyphicon-plus song_url'></span>" +
                    "</td></tr>" +
                    "{{/songs}}</table>";
            {% endraw %}

            var html = Mustache.to_html(template, data);
            $('#result').html(html);

            $('.song_url').click(player.playSong);
            $('.song_url_download').click(player.playSong);
        }
    </script>
{% endblock %}
