{% extends 'layout.twig' %}

{% block content %}


    <div id="searchForm" style="width: 60%">
        <div class="col-xs-8">
            <input type="text" class="form-control"  id="trackName" >
        </div>
        <button type="button" id="searchTrack" class="btn btn-primary">Поиск</button>
    </div>

    <div id="player" style="width: 35%; min-width: 400px;">
        <div class="audio-player">
            <h1 id="song-name">Не выбрано</h1>
            <img class="cover" src="/web/images/cover.png" alt="">
            <audio id="audio-player" src="empty" type="audio/mp3" controls="controls"></audio>
            <input type='hidden' id='currentSongNumber' value='0'>
        </div><br>
        <button type="button" id="cleanPlayList" class="btn btn-danger">Очистить плей-лист</button>
        <br><br>
        <ul id="playList" class="list-group"></ul>
    </div>

    <div id="result" style="width: 60%"></div>

    <script src="/web/js/player.js"></script>
    <script>
        var  playerObj;

        function displaySongs(response) {
            var songs = [];
            for (var key in response) {
                var song = response[key];
                songs.push(song)
            }
            var data = {
                songs: songs
            };
            $('#result').html('')
            $('#result').append('<div id="resultWrapper"></div>')

            {% raw %}
            var template = "<table id='allSongs' class='table table-hover'>{{#songs}}" +
                    "<tr><td class='table_title'>{{artist}}</td>" +
                    "<td class='table_song'>{{title}}</td>" +
                    "<td class='table_play'>" +
                    "<span data-url = {{url}} class='glyphicon glyphicon-plus song_url'></span>" +
                    "<span data-url = {{url}} class='glyphicon glyphicon-download song_url_download'></span>" +
                    "</td></tr>" +
                    "{{/songs}}</table>";
            {% endraw %}

            var html = Mustache.to_html(template, data);
            $('#resultWrapper').html(html);

            $('.song_url').click(player.playSong);
            $('.song_url_download').click(player.playSong);
        }
    </script>
{% endblock %}
